body {
    margin: 0px;
}

#particles {
    background: black;
    z-index: -20;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.profile_box {
    height: 470px;
    width: 500px;
    z-index: 1;
    padding: 80px;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    margin: 0 auto;

}

#profile-pic {
    border-radius: 50%;
}

.profile_box h1 {
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 33px;
}

.profile_box h5 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 100;
}

#description {
    font-weight: 200;
    letter-spacing: 1px;
}

.social-icons {
    font-size: 30px;
}

.social-icons a {
    color: white;
}
